<nav class="bottom-nav" aria-label="Navigation mobile">
  <a href="dashboard.html" data-nav="dashboard.html"><i class="fa-solid fa-house"></i><span>Accueil</span></a>
  <a href="signalements-mes.html" data-nav="signalements-mes.html"><i class="fa-solid fa-list-check"></i><span>Signalements</span></a>
  <a href="signalement-nouveau.html" data-nav="signalement-nouveau.html" class="bottom-nav__fab"><i class="fa-solid fa-plus"></i></a>
  <a href="carte.html" data-nav="carte.html"><i class="fa-solid fa-map-location-dot"></i><span>Carte</span></a>
  <a href="articles-mes.html" data-nav="articles-mes.html"><i class="fa-solid fa-newspaper"></i><span>Articles</span></a>
</nav>
